@charset "UTF-8";

body {
    background-color: #474747;
    font: normal 1.4em Arial;
}

header > h1{
    color: white;
    text-align: center;
}

main {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 500px;
    height: auto;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.116);
}

footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0.6em;
    color: white;
}