@charset "UTF-8";

body {
    background-color: #474747;
    text-align: center;
    font: normal 1.4em Arial;
}

#title {
    color: white;
}

main {
    background-color: white;
    width: 500px;
    height: auto;
    margin: auto;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.199);
}

#p1 {
    margin-top: 0px;
}

img#foto {
    padding-top: 15px;
}

footer > p {
    color: white;
    font-size: 0.6em;
}